### SERVER ###
SERVER_HOST=0.0.0.0:80

### MYSQL DATABASE ###
MYSQL_HOST=mysql:3306
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_DBNAME=web_article

### MYSQL TEST DATABASE ###
MYSQL_TEST_HOST=mysql:3306
MYSQL_TEST_USER=user
MYSQL_TEST_PASS=password
MYSQL_TEST_DBNAME=web_article_test

### ELASTICSEARCH ###
ELASTICSEARCH_URL=http://elasticsearch:9200
ELASTICSEARCH_TEST_URL=http://elasticsearchtest:9300
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=password